<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   <%= title %>
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <link rel="stylesheet" href="/assets/css/font-awesome.min.css"> 
  <!-- CSS Files -->
  <link href="/assets/css/material-kit.css?v=2.0.5" rel="stylesheet" />

  <style type="text/css">
    .view{
      margin-top: 200px;
      padding: 100px;
    }
  </style>

</head>

<body class="index-page sidebar-collapse">
  <nav class="navbar fixed-top navbar-expand-lg" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          HouseFinder </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              location
              <i class="material-icons">
                location_on
              </i>
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="#" class="dropdown-item">
                Githunguri
              </a>
              <a href="#" class="dropdown-item">
                Kagwe
              </a>
              <a href="#" class="dropdown-item">
                Githiga
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Contact Us
              <i class="material-icons">
                call
              </i>
            </a>
          </li>
          <li class="nav-item">
            <button type="button" 
                class="btn btn-outline-info" 
                data-toggle="modal" data-target="#myModal">LOGIN</button>
          </li>
          <li class="nav-item">
            <button type="button"
               class="btn btn-outline-info"
               data-toggle="modal" data-target="#myModal"
               >REGISTER</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>